.axisLabels {
}

H6.graph {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
div.graph {
  page-break-inside: avoid;
}
div.plot {
  page-break-inside: avoid;
}
div.legend {
  page-break-inside: avoid;
}

